// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  width: 100%;
  height: 100%;
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px;
}
.carousel .item img{
    margin: 0 auto;
}
.bs-example{
	margin: 20px;
}
